---
title: Home
permalink: "/"
layout: page
---
<div class="container">
  <ul class="instagram-lite"></ul>
</div>

<section id="blogHomePage">
  <div class="container">
    {% for post in site.categories.featured %}
    {% if post.featured == true %}
    <div class="row" id="featuredPost">
      <div class="col-12 col-md-8">
        <a href="{{post.url}}"><img src="{{ post.featuredImage }}" class="img-fluid"></a>
        <div class="imageOverlay"><h3>Featured</h3></div>
      </div>
      <div class="col-12 col-md-4">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.featuredIntro}}</p>
        <a href="{{post.url}}" class="btn btn-outline-primary btn-block">View Post</a>
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>
</section>

{% include newsletter.html %}




<!-- modal -->

<div class="modal" tabindex="-1" role="dialog" id="instagramModal">
  <div class="modal-dialog modal-lg" role="document" id="instagramModalView">
    <div class="modal-content">
      <img class="instagram-media" src="">
      <div class="modal-body">
        <p class="instagram-likes"><i class="fas fa-heart" id=""></i></p>
        <p class="instagram-caption"></p>
        <a class="instagram-link btn btn-outline-primary" href="">View on Instagram</a>

      </div>
    </div>
  </div>
</div>
