<section id="newsletter">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- Begin MailChimp Signup Form -->
					<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
					<style type="text/css">
						#mc_embed_signup{clear:left; width:100%;}
						/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
						   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
					</style>
					<div id="mc_embed_signup">
					<form action="https://allbeingsart.us18.list-manage.com/subscribe/post?u=f32f53db83174e2e7adb99712&amp;id=47db44ff85" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					    <div id="mc_embed_signup_scroll">
						<label for="mce-EMAIL">Subscribe to stay up to date</label>
						<input type="email" value="" name="EMAIL" class="form-control email" id="mce-EMAIL" placeholder="Email address" required>
					    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					    <div style="position: absolute; left: -5000px;" class="form-group" aria-hidden="true"><input type="text" name="b_f32f53db83174e2e7adb99712_47db44ff85" tabindex="-1" value=""></div>
					    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-outline-primary"></div>
					    </div>
					</form>
					</div>
					<!--End mc_embed_signup-->
				</div>
			</div>
		</div>
	</section>
